/* app css stylesheet */

body {
	font-family: 'back_to_the_future_2002Rg';
  padding-top: 20px;
}


.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.phone:first-child {
  display: block;
}


ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

@keyframes move {
    0% {top: 50px; left: 50px;}
    25% {top: 50px; left: 500px;}
    50% {top: 500px; left: 500px;}
    75% {top: 500px; left: 50px;}
    100% {top: 50px; left: 50px;}
}

.phone li:nth-child(even) {
    position: relative;
    background-color: hotpink;
    animation:move 2s linear 1s 3 normal;
}

.phone li:nth-child(odd) {
    position: relative;
    background-color: chartreuse;
    animation:move 2s linear 1s 3 reverse;
}

@keyframes img {
    0% {top: 0px; left: 0px;}
    25% {top: 0px; left: 5px;}
    50% {top: 5px; left: 5px;}
    75% {top: 5px; left: 0px;}
    100% {top: 0px; left: 0px;}
}

img:hover {
    position: relative;
    animation:img 0.1s linear 0s 10 normal;
}

.phoneForm .ng-invalid.ng-dirty {
    border-color:#FA787E;
}

.phoneForm .ng-valid.ng-dirty {
    border-color:#78FA89;
}
